.navBar{
    background-color: #535bf2;
    height: 70px;
    width: 100%;
    padding-left: 5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 50px;
}

.navBarNav{
    display: flex;
    align-items: center;
}

.navBarNav a{
    padding: 15px;
    font-size: 155%;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    
}
.cart{
    padding-right: 50px;
}


  @media (min-width: 320px ) and (max-width: 425px){
    .navBar{
        background-color: #535bf2;
        height: 70px;
        width: 100%;
        padding-left: 5px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .navBarNav a{
        padding: 3px;
        font-size: 75%;
        text-decoration: none;
        color: black;
        }
        
.logo{
    width: 50px;
    height: 30px;
}
.cart{
    padding-right: 5px;
}
  }